[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=fremarble
Comment=Marble Madness-style accelerometer game
Exec=/usr/bin/fremarble
Icon=fremarble
Categories=Games;
X-Window-Icon=fremarble
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
StartupWMClass=fremarble
